.wish-list-card {
  background: var(--white);
  border-radius: 0.5rem;
  margin: 12rem auto;
  max-width: 500px;
  padding: 1rem 2rem;
  width: 100%;
}

.wish-list-card__title {
  color: var(--red);
  font-family: 'Mountains of Christmas', cursive;
  font-size: 4rem;
  margin: 0 0 1rem;
  text-align: center;
}

.wish-list-card__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 1rem;
}

.form {
  margin: 1.25rem 0 0;
}

.form__input {
  border-radius: 0.25rem;
  border: 2px solid var(--yellow);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
}

.form__input--below {
  margin-top: 0.5rem;
}

.form__button {
  background: var(--red);
  border-radius: 0.25rem;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0 0;
  padding: 0.5rem 1rem;
  width: 100%;
}

.form__button--random-title {
  background: var(--red-2);
}

.form__button--close {
  background: var(--gray);
}

.form__button--close-preview {
  margin: 1.25rem 0 0;
}

.form__button--add {
  margin: 1rem 0 0;
}

.form__button--clear {
  margin: 0.5rem 0 0;
}

.wish-list-card__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.wish-list-card__action {
  border-radius: 0.25rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.05rem 0.25rem;
  text-transform: uppercase;
  user-select: none;
}

.wish-list-card__action--delete {
  background: var(--red-2);
}

.wish-list-card__action--edit {
  background: var(--gray-3);
}

.wish-list-card__message {
  color: var(--red);
  font-size: 1.25rem;
  margin: 1.5rem 0 1rem;
  text-align: center;
}

.wish-list-card__item-info {
  align-items: center;
  column-gap: 10px;
  display: flex;
}

.wish-list-card__item-image {
  display: block;
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.wish-list-card__item-text {
  display: flex;
  flex-direction: column;
}

.wish-list-card__item-recipient {
  color: var(--gray-2);
  font-size: 0.85rem;
}

.wish-list-card__actions {
  display: flex;
  column-gap: 0.5rem;
}

.wish-list-card__total-container {
  margin: 1rem 0 0;
  border-top: 1px solid var(--gray-3);
  padding-top: 0.8rem;
}

.wish-list-card__total {
  font-size: 1.15rem;
  font-weight: 700;
  margin: 0;
  text-align: right;
}