.modal {
  background: var(--white);
  left: 50%;
  max-width: 550px;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms ease-in;
  visibility: hidden;
  width: 100%;
  z-index: 3;
}

.modal--active {
  opacity: 1;
  visibility: visible;
}

@media print {
  .modal {
    top: 0;
    transform: translate(-50%, 0);
  }
}