:root {
  --white: #ffffff;
  --gray: #8f8f8f;
  --gray-2: #7c7c7c;
  --gray-3: #999999;
  --red: #ea4630;
  --red-2: #bb2528;
  --green: #165b33;
  --green-2: #146b3a;
  --yellow: #f8b229;
  --black-opacity-50: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--green);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}